ws/test/ssk/ssk120/SSK120_Test_XmlToJson_MultiInstanceService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:com.workday.report/MyShoes" xmlns:wd="urn:com.workday.report/MyShoes">
  <xs:element name="Report_Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="wd:Report_Entry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report_Entry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="wd:Size"/>
        <xs:element ref="wd:Worker"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Size" type="xs:string"/>
  <xs:element name="Worker">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="wd:ID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ID">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attribute name="type" use="required" form="qualified" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
