ws/test/ssk/ssk120/SSK120GenerateJson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="grantDate"/>
        <xs:element type="xs:string" name="grantName"/>
        <xs:element type="xs:short" name="numberOfShares"/>
        <xs:element type="xs:string" name="typeOfShares"/>
        <xs:element name="worker">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

